<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{{ config.appname }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ cors_link('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css') }}">
    <link rel="stylesheet" href="{{ cors_link('https://fonts.googleapis.com/icon?family=Material+Icons', 'font') }}">
    <script src="{{ cors_link('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js') }}"></script>
    <script src="{{ cors_link('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>

    <link rel="stylesheet" href="{{ static_link('base.css') }}">
    {% block head %}
    {% endblock %}
  </head>

  <body class="mdc-typography">
    <header class="mdc-toolbar mdc-toolbar-fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title">
            {%- block appname %}{{ config.appname }}{% endblock -%}
            {%- if session.user %} // {{ session.user }}{% endif -%}
          </span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <!-- ::TODO:: add stuff? -->
        </section>
      </div>
    </header>

    <div class="ixstates-content">
      <nav class="mdc-permanent-drawer">
        <div class="mdc-list-group">
          {% macro render_icon(href, icon, name) -%}
            {% if href == request.path -%}
            <a class="mdc-list-item mdc-permanent-drawer--selected mdc-ripple-surface" href="{{ href }}">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">{{ icon }}</i>{{ name }}
            </a>
            {%- else -%}
            <a class="mdc-list-item mdc-ripple-surface" href="{{ href }}">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">{{ icon }}</i>{{ name }}
            </a>
            {%- endif %}
          {%- endmacro %}
          <nav class="mdc-list">
            {{ render_icon("/", "home", "Index") }}
            {%- if session.get("uid") %}
            {%- if session.admin %}
            {{ render_icon("/admin/", "assignment", "Admin") }}
            {%- endif %}
            {{ render_icon("/mail/", "email", "Mail") }}
            {%- endif %}
          </nav>
        </div>
      </nav>

      <main class="app-main">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            {% block main_cell -%}
            <div class="mdc-layout-grid__cell--span-8 mdc-card-container">
              {% block app -%}
              {%- endblock %}
            </div>
            {%- endblock %}
            <div class="mdc-layout-grid__cell--span-4 mdc-card-container">
              <form class="mdc-card" method="post"
                action="{{ url_for('api.user_management.handler') }}">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">Log In / Register</h1>
                  {% if session.user -%}
                    <h2 class="mdc-card__subtitle">You are already logged in as {{ session.user }}</h2>
                  {%- endif %}
                </section>
                <section class="mdc-card__supporting-text">
                  <div class="mdc-text-field mdc-text-field--upgraded">
                    <input type="text" id="username" class="mdc-text-field__input" name="username">
                    <label class="mdc-text-field__label mdc-text-field__label--float-above" for="username">Username</label>
                    <div class="mdc-text-field__bottom-line"></div>
                  </div>
                  <div class="mdc-text-field mdc-text-field--upgraded">
                    <input id="password" class="mdc-text-field__input" name="password"
                      {% if session.uid is not none %}autocomplete="off"{% else %}autocomplete="on"{% endif %}
                      required pattern=".{8,}" type="password" aria-controls="password-verify-msg">
                    <label class="mdc-text-field__label mdc-text-field__label--float-above" for="password">Password</label>
                    <div class="mdc-text-field__bottom-line"></div>
                  </div>
                  <p class="mdc-text-field-helptext mdc-text-field-helptext--persistent mdc-text-field-helptext--validation-msg"
                    id="password-verify-msg">Password must be at least eight characters</p>
                </section>
                <section class="mdc-card__actions">
                  <button name="login" type="submit"
                    class="mdc-ripple-surface mdc-button mdc-button--compact mdc-card__action">Login</button>
                  <button name="register" type="submit"
                    class="mdc-ripple-surface mdc-button mdc-button--compact mdc-card__action">Register</button>
                </section>
              </form>
              {% block sidebar %}
              {% endblock %}
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="mdc-snackbar"
      id="messages"
      aria-live="assertive"
      aria-atomic="true"
      aria-hidden="true">
      <div class="mdc-snackbar__text"></div>
      <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
      </div>
    </div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      var MDCSnackbar = window.mdc.snackbar.MDCSnackbar;
      var snackbar = new MDCSnackbar(document.getElementById('messages'));
      $(document).ready(()=> {
        window.mdc.autoInit();
        $.ajax('{{ url_for('api.messages.get_messages') }}').done((data)=> {
					for (message of data)
            snackbar.show({
              message: message,
              timeout: 2750,
            });
				});
        $(".mdc-text-field").each((_, element)=> {
          mdc.textField.MDCTextField.attachTo(element);
        });
        $(".mdc-ripple-surface").each((_, element)=> {
          mdc.ripple.MDCRipple.attachTo(element);
        });
        $(".mdc-radio").each((_, element)=> {
          mdc.radio.MDCRadio.attachTo(element);
        });
        $("form button[type=submit]").each((_, element)=> {
          element.onclick = function() { // bind `this`
            var form = $(this).parents('form');
            form.submit((event)=> {
              form.append($("<input>")
                .attr("type", "hidden")
                .val(element.name))
            });
          };
        });
      });
    </script>
    <script>
      window.mdc.autoInit();
    </script>
  </body>
</html>
